html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  flex: 1;
  padding: 10px 20px 10px 20px;
}

.main-container-no-pad {
  flex: 1;
}

.route-header {
  color: #232F3E;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #232F3E;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.footer-container {
  color: white;
  background-color: #232F3E;
  padding: 5px 20px 5px 20px;
  font-size: x-small;
}

.header-logo {
  height: auto;
}

#header-nav-bar {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px;
}

.nav-bar-link {
  text-decoration: none;
  color: inherit;
  flex: auto;
  font-weight: bold;
}

.nav-bar-link:hover {
  color: lightgrey;
}

#cart-container {
  flex: 1;
}

.cart-link {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}

.cart-logo {
  width: 60px; /* Adjust the size as needed */
  height: auto;
}

#home-hero-container {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: space-between; /* Space out items */
  flex-wrap: wrap; /* Wrap items if necessary */
  margin: 20px;
}

#home-page-hero-title {
  flex: 1;
  margin: 10px;
  text-align: center;
  color: #232F3E;
  font-size: xxx-large;
}

#satisfaction-guaranteed {
  color: #b3cbb5;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

#home-page-hero-image {
  flex: 1;
  width: 100%; /* Scale to the width of the container */
  height: auto;
  object-fit: cover; /* Cover the container */
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the product cards */
  gap: 10px; /* Add gap between product cards */
  padding: 10px;
  margin-bottom: 35px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 200px; 
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #FAFAFA;
  overflow: hidden; 
  transition: transform 0.2s; 
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card-image {
  width: 100%; 
  height: auto; 
  max-height: 150px; 
  object-fit: cover; 
  border-bottom: 1px solid lightgray; 
}

.product-details-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  height: 100%;
}

.product-card-name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.product-card-price {
  font-size: small;
  text-align: center;
  text-decoration: line-through;
  color: red;
}

.product-card-sale-price {
  font-weight: bold;
  text-align: center;
  color: green;
}

div[class*="price"]::before {
  content: "$";
}

.faq-container {
  margin-top: 20px;
}

.faq-item {
  margin-bottom: 10px;
  padding: 10px;
  border: darkgray 1px solid;
  border-radius: 10px;
  background-color: #FAFAFA;
}

.faq-question {
  color: #232F3E;
}

.faq-answer {
  color: #232F3E;
  margin-top: 5px;
}


.about-us-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap; /* Wrap content on smaller screens */
}

.about-us-image-container {
  flex: 1;
  margin-right: 20px;
  text-align: center; /* Center image on smaller screens */
}

#about-us-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-us-content-container {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #232F3E;
}

.about-us-paragraph {
  margin-bottom: 15px;
}

.home-hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap; /* Wrap content on smaller screens */
}

.home-hero-image-container {
  flex: 1;
  margin-right: 20px;
  text-align: center; /* Center image on smaller screens */
  padding: 20px;
}

#home-hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-hero-content-container {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #232F3E;
}

.home-hero-title {
  margin-bottom: 15px;
}

#home-welcome-container {
  padding: 50px;
  text-align: center;
  background-color: #FAFAFA;
}

.home-services-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px;
}

.home-services-content-container {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #232F3E;
  text-align: center;
  padding-bottom: 25px;
}

.home-cta-container {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #232F3E;
  text-align: center;
  padding-bottom: 25px;
}

.call-to-action-button {
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #232F3E;
  border-radius: 15px;
  margin: 10px;
}

.call-to-action-button:hover {
  transform: scale(1.05);
  color: lightgrey;
}

#ready-to-start-container {
  padding: 20px;
  text-align: center;
  background-color: #FAFAFA;
}

.link {
  text-decoration: none;
  color: inherit;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
}

.product-detail-content-container {
  display: flex;
  flex: auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product-detail-image-container {
  flex: 1;
  text-align: center;
}

.product-name {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.product-image {
  width: auto;
  border-radius: 20px;
  margin: 20px;
}

#cart-disclaimer {
  color: #232F3E;
  font-style: italic;
  text-align: center;
}

#main-cart-container {
  display: block;
  text-align: center;
}

#form-name-fields-container {
  display: flex;
}

.form-question {
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-question {
  margin-bottom: 15px;
}

.form-question-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-question-input,
.form-question-textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #b3cbb5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  transform: scale(1.03);
}

.error {
  color: red;
  display: block;
}


/* Response queries */
@media (max-width: 30000px) {
  .header-logo {
    width: 30%;
  }
  .nav-bar-link {
    padding: 25px;
  }
  .cart-link {
    justify-content: end;
  }
  #home-page-hero-image {
    max-width: 600px;
  }
  .product-image {
    max-height: 600px;
  }
}

@media (max-width: 1100px) {
  .header-logo {
    width: 40%;
  }
  .cart-link {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .header-logo {
    width: 40%;
  }
  .cart-link {
    justify-content: center;
  }
  #home-page-hero-image {
    max-width: 400px;
  }
  .about-us-container {
    flex-direction: column; /* Stack image above text */
    align-items: center; /* Center content horizontally */
  }
  .about-us-image-container {
    margin-right: 0px;
    margin-bottom: 20px; /* Add space below the image */
  }
  #home-hero-image {
    margin-left: auto;
    margin-right: auto;
    display: block; /* Center the image */
  }
  .home-hero-container {
    flex-direction: column; /* Stack image above text */
    align-items: center; /* Center content horizontally */
  }
  .home-hero-image-container {
    margin-right: 0px;
    margin-bottom: 20px; /* Add space below the image */
  }
  #home-hero-image {
    margin-left: auto;
    margin-right: auto;
    display: block; /* Center the image */
  }
  .product-image {
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    width: 100%;
  }
  .nav-bar-link {
    padding: 10px;
  }
  #header-nav-bar {
    flex:auto;
  }
  .product-image {
    max-height: 300px;
  }
}